{% extends 'base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block body %}
    <h1 class="text-center text-3xl uppercase text-slate-100 font-bold bg-slate-800 py-5 shadow-xl">Gestion Departements</h1>

    <content class="flex flex-col gap-10 w-11/12 mx-auto">
        <div class="mt-12 self-end">
            <a href="{{ path('app_departement_new') }}" class="bg-green-500 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-bold">Nouveau departement</a>
        </div>

        <table class="table shadow-xl text-lg">
            <thead>
                <tr class="bg-sky-900 text-slate-100 border-2 border-slate-900 uppercase">
                    <th>Label</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody class="bg-sky-900">
            {% for departement in departements %}
                <tr class="border-2 border-slate-900 objet text-center">
                    <td class="bg-slate-50 pl-1 border-2 border-slate-900">{{ departement.label }}</td>
                    <td class="bg-sky-900 p-2 text-center w-1/5">
                        <a href="{{ path('app_departement_edit', {'id': departement.id}) }}" class="bg-yellow-400 text-center px-3  hover:brightness-125 rounded-lg font-semibold">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>

                    <td colspan="5" class="text-slate-100 p-3">Aucune demande ne correspond à votre recherche...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="">
            <a href="{{ path('app_question_index') }}" class="bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>

        </div>
    </content>

{% endblock %}
