
@tailwind base;
@tailwind components;
@tailwind utilities;

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.answer.show {
    max-height: 100%; /* Adjust the value to set the maximum height of the drawer */
}